certifi==2022.12.7
charset-normalizer==3.0.1
idna==3.4
PyJWT==2.6.0
python-dotenv==0.21.1
pytz==2022.7.1
requests==2.28.2
twilio==7.16.2
urllib3==1.26.14
pyAesCrypt~=6.0.0
PyPDF3~=1.0.6
googletrans~=3.0.0
progressbar~=2.5
icrawler~=0.6.6
bs4~=0.0.1
beautifulsoup4~=4.11.1
keyboard~=0.13.5
mouse~=0.7.1
PyAutoGUI~=0.9.53